<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <title>Distributed database demonstration</title>
  </head>
  <body>
        <div class="container">
            <h5>Vital Registration System Addis Ababa City Admininistration Setp 3 Spouse Information</h5>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Spouse Id</label>
                <input type="text" class="form-control" id="input1" value="Test Data" placeholder="Enter Spouse Id">
                </div>
                <div class="mb-3">
                  <label for="exampleFormControlInput1" class="form-label">First Name</label>
                  <input type="text" class="form-control" id="input2" value="Test Data" placeholder="Enter First Name">
                  </div>
                  <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Middle Name</label>
                    <input type="text" class="form-control" id="input3" value="Test Data" placeholder="Enter Middle Name">
                    </div>
                    <div class="mb-3">
                      <label for="exampleFormControlInput1" class="form-label">Last Name</label>
                      <input type="text" class="form-control" id="input4" value="Test Data" placeholder="Enter Last Name">
                      </div>
                      <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">DOB</label>
                        <input type="date" class="form-control" id="input5" value="Test Data">
                        </div>
                      
                        <div class="mb-3">
                          <label for="exampleFormControlInput1" class="form-label">Nationality</label>
                          <input type="text" class="form-control" id="input6" value="Test Data" placeholder="Enter Nationality">
                          </div>
                      
               
            <button type="button" class="btn btn-primary" onClick="postStepC()">Next</button>
        </div>
    <!-- import your js here --> 
    <script src="http://localhost:4000/static/post.js"></script>
  </body>
</html>
